[submodule "angular-bases"]
	path = angular-bases
	url = https://github.com/amadoxxo/angular-bases.git
[submodule "gifs-app"]
	path = gifs-app
	url = https://github.com/amadoxxo/gifs-app.git
[submodule "countryApp"]
	path = countryApp
	url = https://github.com/amadoxxo/countryApp.git
[submodule "pipesApp"]
	path = pipesApp
	url = https://github.com/amadoxxo/pipesApp.git
